* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 2rem 1rem;
}
body h1 {
  text-align: center;
  padding-bottom: 1rem;
}
body form {
  padding: 1rem 0;
}
body form input {
  width: 100%;
  /* margin-bottom: 1rem; */
  padding: 0.5rem;
  /* padding: 10px; */
  /* border: 1px solid black; */
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: rgb(226, 224, 224);
}
body form select,
body form textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;

  /* border: 1px solid black; */
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: rgb(226, 224, 224);
}
.form-control {
  margin-bottom: 0.5rem;
  padding-bottom: 20px;
  position: relative;
}
i {
  position: absolute;
  top: 10px;
  right: 20px;
}
body form #terms {
  width: 3rem;
}
body form button {
  background-color: black;
  color: white;
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 7px;
  font-size: 1rem;
  margin: 0.5rem 0;
}
.form-control.error .fa-check-circle {
  display: none;
}
.form-control.error .fa-exclamation-circle {
  color: red;
}
.form-control.success .fa-exclamation-circle {
  display: none;
}
.form-control.success .fa-check-circle {
  color: green;
}
.form-control.success small {
  display: none;
}
.form-control.success input {
  border: 2px solid green;
}
.form-control.error input {
  border: 2px solid red;
}
@media screen and (min-width: 778px) {
  body {
    width: 50%;
    margin: auto;
  }
}
